body{background-color: lightyellow;
	margin-left: 80pt;
	margin-top: 0pt;
	font-family: sans-serif;
}

.logoinstagram{float: right;}
.derecha{float: right;}

div {
    text-align: left;
    font-size: 16px;
}


.img {
    float: right;
    margin-top: 3px;
    margin-left: 25px;
}


.th{text-align: left;
	font-size: 25px;
	
}

.ul{text-align: center;

}
li {
	font: menu;
	display: inline;
	float: unset;
  }

h1{
	text-align: center;
}

span{font-size: 16px;

}

table{
	border-color: green yellow black blue;
	border-radius: 10px;
	margin: 0% auto;
}

video {padding-top: 7px;
}

h3{text-align: center;}


